.Weather {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.Weather .btn {
  border: none;
  margin-left: 10px;
}

.Weather .text {
  border: none;
  border-radius: 5px;
  width: 70%;
  background-color: rgba(255, 255, 255, 0.878);
  padding: 5px;
  letter-spacing: 2px;
}

.Weather .temperature {
  font-size: 96px;
  letter-spacing: 2px;
}
.Weather .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
  grid-gap: 20px;
  text-align: center;
}

.Weather .unit {
  color: rgb(0, 1, 0);
  font-size: 30px;
  position: relative;
  line-height: 1;
  top: -40px;
}

.Weather .city {
  letter-spacing: 1px;
  line-height: 1.5;
  font-size: 24px;
}
.Weather li {
  list-style: none;
}

.Weather .date {
  line-height: 2;
  letter-spacing: 4px;
  font-weight: 500;
}
.Weather .description {
  line-height: 1;
  letter-spacing: 3px;
  border-bottom: 1px solid white;
  padding: 10px;
}
.Weather a {
  text-decoration: none;
  color: #2b97a5;
}

.Weather .forecast {
  margin: 20px;
}
